html, body {
    margin: 0;
    padding: 0;
}

.blueBox {
    display: flex;
    justify-content: center;
}

#red {
    background-color: red;
    margin: 0;
    padding: 0;
}

#blue {
    background-color: blue;
    margin: 0;
    padding: 0;
}

#results {
    margin: 0% 20% 0% 20%;
}