html, body {
  margin: 0;
  padding: 0;
  background: rgb(71, 71, 71);
}

.blueBox {
  display: flex;
  justify-content: center;
}

.playerInput {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
    }

#red {
  background-color: red;
  margin: 0;
  padding: 0;
}

.blue {
  background-color: blue;
  margin: 0 0 350% 0;
}

#results {
  margin: 0% 20% 0% 20%;
}

/* This is our styling for our various buttons 
TO DO:
- Add some margin
- Make the buttons pretty
- Add a clicking animation
- Add a fade in and out for hover
- Make the spin button's text spin????
*/

/*Black betting button*/
.bet-black-button {
  background-color: black;
  border-style: solid;
  border-color: black;
  color:white;
  
}
.bet-black-button:hover {
  opacity: 0.7;
}

/*Red betting button*/
.bet-red-button {
  background-color: red;
  border-style: solid;
  border-color: red;
  color: white;
}
.bet-red-button:hover {
  opacity: 0.7;
}

/*Green betting button*/
.bet-green-button {
  background-color: green;
  border-style: solid;
  border-color: green;
  color: white;
}
.bet-green-button:hover {
  opacity: 0.7;
}

/*Spin button*/
.spin-button {
  background-color: gold;
  border-style: solid;
  border-color: gold;
  color: black;
}
.spin-button:hover {
  opacity: 0.7;
}
