html, body {
    margin: 0;
    padding: 0;
    background: rgb(71, 71, 71);
}

.blueBox {
    display: flex;
    justify-content: center;
}

.playerInput {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    }

#red {
    background-color: red;
    margin: 0;
    padding: 0;
}

#blue {
    background-color: blue;
    margin: 0 0 350% 0;
}

#results {
    margin: 0% 20% 0% 20%;
}