#pagenotfound {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  min-height: 80vh;
  padding: 30px;
  // background-color: rgb(27, 27, 36);
  background-color: black;
  color: var(--text-color-1);

  h2 { text-decoration: underline; font-size: 1.5rem; }
  h3 { font-size: 1.2rem; }
  img { max-width: 400px; margin-top: 30px; }
}