/* CSS specific to the contacts page */

#contacts * {
    text-decoration: none;
}

#contacts .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
      

#contacts .btn {
    background-color: #00a977;
    color: white;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    padding: 10px 30px;
    font-weight: bold;
}

#contacts #discordimg {
    width: auto;
    height: auto;
    padding: 50px;
}

#contacts #githubimg {
    width: auto;
    height: auto;
    padding: 50px;
}