/* CSS specific to the contacts page */

#contacts {
  * {
    text-decoration: none;

  }

  .container {
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
  }


  .discord {
    position: relative;
    width: 310px;
    height: calc(310px * (4/3));
    background: rgba(255, 255, 255, 0.05);
    margin: 50px;
    box-shadow: 0px 0px 10px #666666;
    border-radius: 50px;
    backdrop-filter: blur(10px);
  }

  .github {
    position: relative;
    width: 310px;
    height: calc(310px * (4/3));
    background: rgba(255, 255, 255, 0.05);
    margin: 50px;
    box-shadow: 0px 0px 10px #666666;
    border-radius: 50px;
    backdrop-filter: blur(10px);
  }
   
  .email {
    position: relative;
    width: 310px;
    height: calc(310px * (4/3));
    background: rgba(255, 255, 255, 0.05);
    margin: 50px;
    box-shadow: 0px 0px 10px #666666;
    border-radius: 50px;
    backdrop-filter: blur(10px);
  }

  .btn {
    background-color: var(--bg-color-4);
    color: white;
    cursor: pointer;
    border: none;
    border-radius: 500px;
    padding: 10px 30px;
    font-weight: bold;
  }

  #discordimg {
    width: 325px;
    height: 325px;
    padding: 50px;
  }

  #githubimg {
    width: 325px;
    height: 325px;
    padding: 50px;
    border-radius: 50%;
    border: 5px solid transparent;
  }

  #emailimg {
    width: 325px;
    height: 325px;
    padding: 50px;
    border-radius: 50%;
    border: 5px solid transparent;
  }
}