/* CSS specific to the contacts page */

#contacts {
  * {
    text-decoration: none;
  }

  .container {
    display: flex;
    justify-content: center;
  }
      

  .btn {
    background-color: #00a977;
    color: white;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    padding: 10px 30px;
    font-weight: bold;
  }

  #discordimg {
    width: 50%;
    height: 50%;
    padding: 50px;
  }

  #githubimg {
    width: 46%;
    height: 46%;
    padding: 50px;
    border-radius: 50%;
    border: 5px solid transparent;
  }
}