/* CSS rules for every page. */

:root {
  --bg-color-1: rgb(15, 15, 15);
  --bg-color-2: rgb(25, 25, 25);
  --bg-color-3: rgb(35, 35, 35);
  --bg-color-4: rgb(45, 45, 45);
  --text-color-1: rgb(255, 255, 255);
  --text-color-2: rgb(220, 220, 220);
  --text-color-3: rgb(180, 180, 180);
  --text-color-4: rgb(140, 140, 140);
  --border-color-1: rgb(40, 40, 40);
  --border-color-2: rgb(50, 50, 50);
  --border-color-3: rgb(60, 60, 60);
  --border-color-4: rgb(70, 70, 70);

  --dark-blue: #152434;
  --main-bg-color: rgb(20, 20, 20);
  --teal: #0D9292;
  --dark-teal: #008593;
}

body {
  width: 100%;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: var(--main-bg-color);
  padding-top: 50px;
}

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Global Navbar */
#navbar {
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background-color: #1e1e1e;
  z-index: 5;
  height: 50px;

  #logo {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 5px;
    text-decoration: none;
    font-weight: normal;
    font-size: 1.25rem;
    color: #ffffff;
  }
  
  #logo img { border-radius: 50%; background-color: white; }
  #pages { display: flex; align-items: center; }
  
  #pages a {
    display: flex;
    align-items: center;
    height: 100%;
    gap: 5px;
    padding: 15px 15px 12px 15px;
    text-decoration: none;
    font-size: 1rem;
    color: #e6e6e6;
    fill: #e6e6e6;
    border-bottom: 3px solid transparent;
  }
  
  #pages a:hover { color: #0d9292; fill: #0d9292; }
  #pages a svg { width: 20px; height: 20px; }
  #pages .current-page { color: #ffffff; fill: #ffffff;  border-color: #b500d1; }
  #pages .current-page:hover { color: #ffffff; fill: #ffffff; }
  #pages .current-page svg { animation: svg-selected ease-in-out 400ms; }
  
  @keyframes svg-selected {
    0% { scale: 1; }
    50% { scale: 1.2; }
    100% { scale: 1; }
  }
}

/* Global Footer */
#footer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-top: 100px;
  padding: 30px 30px 50px 30px;
  background-color: var(--bg-color-2);
  border-top: 1px solid var(--border-color-2);
  border-bottom: 1px solid var(--border-color-2);

  img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
  }
  
  p {
    font-size: 1rem;
    color: var(--text-color-4);
  }
}

/* Banner */
#banner {
  padding: 80px;
  background-size: cover;
  background-attachment: fixed;
  box-shadow: inset 0 0 0 9999em rgb(0, 0, 0, 0.5);
  text-align: center;
  background-position: center;
  border-bottom: 1px solid var(--border-color-2);

  h1 {
    font-family: sans-serif, Courier, monospace;
    font-size: 3.75rem;
    color: white;
    animation: text-fade-in ease-in-out 500ms;
  }
  
  p {
    margin-top: 30px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.875rem;
    color: white;
    animation: text-fade-in ease-in-out 800ms;
  }
  
  @keyframes text-fade-in {
    0% { opacity: 0; scale: 0; }
    100% { opacity: 1; scale: 1; }
  }
  
  @media(max-width: 500px) {
    #banner {
      padding: 50px;
    }
    #banner h1 {
      font-size: 3.5rem;
    }
  }
}