/* CSS rules for every page. */

:root {
  --bg-color-1: rgb(15, 15, 15);
  --bg-color-2: rgb(25, 25, 25);
  --bg-color-3: rgb(35, 35, 35);
  --bg-color-4: rgb(45, 45, 45);
  --text-color-1: rgb(255, 255, 255);
  --text-color-2: rgb(220, 220, 220);
  --text-color-3: rgb(180, 180, 180);
  --text-color-4: rgb(140, 140, 140);
  --border-color-1: rgb(40, 40, 40);
  --border-color-2: rgb(50, 50, 50);
  --border-color-3: rgb(60, 60, 60);
  --border-color-4: rgb(70, 70, 70);

  --dark-blue: #152434;
  --main-bg-color: rgb(20, 20, 20);
  --teal: #0D9292;
}

body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: var(--main-bg-color);
}

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3px 10px;
  background-color: rgb(30, 30, 30);
}

#navbar img {
  height: 60px;
  background-color: white;
  border-radius: 50%;
}

#navbar div {
  display: flex;
  align-items: center;
}

#navbar a {

  padding: 15px;
  text-decoration: none;
  font-size: 16px;
  color: white;
}

#navbar :hover {
  color: #0D9292;
} 

#navbar a:hover span {
  color: transparent;
}
 
#navbar .current-page {
  border-bottom: 2px solid white;
}

#navbar  #disco:hover {
  color:transparent;
 }

 #navbar #beans:hover{
  margin-left: 25px;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  background-image: url('/DiscordLogo.png');
  background-size: cover;
}
