/* CSS rules for every page. */

:root {
  --bg-color-1: rgb(15, 15, 15);
  --bg-color-2: rgb(25, 25, 25);
  --bg-color-3: rgb(35, 35, 35);
  --bg-color-4: rgb(45, 45, 45);
  --text-color-1: rgb(255, 255, 255);
  --text-color-2: rgb(220, 220, 220);
  --text-color-3: rgb(180, 180, 180);
  --text-color-4: rgb(140, 140, 140);
  --border-color-1: rgb(40, 40, 40);
  --border-color-2: rgb(50, 50, 50);
  --border-color-3: rgb(60, 60, 60);
  --border-color-4: rgb(70, 70, 70);

  --dark-blue: #152434;
  --main-bg-color: rgb(20, 20, 20);
  --teal: #0D9292;
  --dark-teal: #008593;
}

body {
  width: 100%;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: var(--main-bg-color);
  padding-top: 50px;
  // overflow-x: hidden;
}

/* Designing for scroll-bar */
::-webkit-scrollbar {
  width: 6px;
  background: gainsboro;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--dark-teal);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #006570;
}

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Global Navbar */
#navbar {
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background-color: #1e1e1e;
  z-index: 5;
  height: fit-content;

  #logo {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 5px;
    text-decoration: none;
    font-weight: normal;
    font-size: 1.25rem;
    color: #ffffff;
  }
  
  #logo img { border-radius: 50%; background-color: white; }
  #pages { display: flex; align-items: center; }
  
  #pages a {
    display: flex;
    align-items: center;
    height: 100%;
    gap: 5px;
    padding: 15px 15px 12px 15px;
    text-decoration: none;
    font-size: 1rem;
    color: #e6e6e6;
    fill: #e6e6e6;
    border-bottom: 3px solid transparent;
  }
  
  #pages a:hover { color: #0d9292; fill: #0d9292; }
  #pages a svg { width: 20px; height: 20px; }
  #pages .current-page { color: #ffffff; fill: #ffffff;  border-color: #b500d1; }
  #pages .current-page:hover { color: #ffffff; fill: #ffffff; }
  #pages .current-page svg { animation: svg-selected ease-in-out 400ms; }
  
  @keyframes svg-selected {
    0% { scale: 1; }
    50% { scale: 1.2; }
    100% { scale: 1; }
  }
}

@media(max-width: 500px) {
  #navbar {
    flex-direction: column;
  }
}

// Global Footer
#footer {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 30px 30px 50px 30px;
  margin-right: 0;
  font-size: 1em;
  background-color: var(--bg-color-2);
  border-top: 1px solid var(--border-color-2);
  border-bottom: 1px solid var(--border-color-2);

  .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .column {
    max-width: 300px;

    h6 {
      position: relative;
      margin-bottom: 25px;
      margin-top: 20px;
      font-weight: 500;
      font-size: 1.1rem;
      color: white;

      &::before {
        content: '';
        position: absolute;
        left: 0;
        bottom: -10px;
        width: 100px;
        height: 2px;
        background-color: #0d9292;
      }
    }

    ul {
      list-style: none;

      li {
        display: flex;
        align-items: center;
        gap: 5px;
        margin-bottom: 10px;

        img { border-radius: 50%; }
  
        a {
          display: block;
          text-decoration: none;
          font-size: 1rem;
          color: #bbbb;
          transition: 300ms ease;
          &:hover{ color: #ffffff; padding-left: 10px; }
        }
      }
    }
  }

  .bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;

    img { border-radius: 50%; }
    p { font-size: 1rem; color: var(--text-color-4); }
  }
}

/* Banner */
#banner {
  padding: 80px;
  background-size: cover;
  background-attachment: unfixed;
  box-shadow: inset 0 0 0 9999em rgb(0, 0, 0, 0.5);
  text-align: center;
  background-position: center;
  border-bottom: 1px solid var(--border-color-2);

  h1 {
    font-family: sans-serif, Courier, monospace;
    font-size: 3.75rem;
    color: white;
    animation: text-fade-in ease-in-out 500ms;
  }
  
  p {
    margin-top: 30px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.875rem;
    color: white;
    animation: text-fade-in ease-in-out 800ms;
  }
  
  @keyframes text-fade-in {
    0% { opacity: 0; scale: 0; }
    100% { opacity: 1; scale: 1; }
  }
}

@media(max-width: 500px) {
  body {
    padding-top: 100px;
  }
  #banner {
    padding: 50px;
  }
  #banner h1 {
    font-size: 3rem;
  }
}

// Scroll to top button
#scrollButton {
  position: relative;

  .icon-position {
    position: fixed;
    bottom: 40px;
    right: 25px;
    z-index: 20;
    display: grid;
    justify-content: center;
    align-items: center;
  }

  .icon-style {
    background-color: var(--dark-teal);
    border: 2px solid #fff;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    color: #fff;
    cursor: pointer;
    animation: movebtn 0.5s ease-in-out;
    transition: all .5s ease-in-out;
  }

  .icon-style:hover {
    background: #fff;
    color: var(--dark-teal);
    border: 2px solid var(--dark-teal);
  }

  @keyframes movebtn {
    0%{
      transform: translateY(100px);
    }
    50%{
      transform: translateY(-10px);
    }
    100%{
      transform: translateY(0px);
    }
  }
}

// Page transitions
main {
  animation: page-transition 300ms ease-in-out;
}

@keyframes page-transition {
  0% { translate: 70vw 0; opacity: 0; }
  100% { translate: 0 0; opacity: 1; }
}

// Global role colors
.role-President { color: rgb(255, 235, 123); }
.role-Vice { color: rgb(255, 235, 123); }
.role-Project { color: pink; }
.role-Leadership { color: rgb(172, 255, 172); }
.role-Member { color: rgb(142, 203, 203); }