/* CSS rules for every page. */

:root {
  --dark-blue: #152434;
  --black: #000000;
  --teal: #0D9292;
}

body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: rgb(10, 10, 10);
}

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3px 10px;
  background-color: rgb(30, 30, 30);
}

#navbar img {
  height: 60px;
  background-color: white;
  border-radius: 50%;
}

#navbar div {
  display: flex;
  align-items: center;
}

#navbar a {

  padding: 15px;
  text-decoration: none;
  font-size: 16px;
  color: white;
}

#navbar :hover {
  color: #0D9292;
} 

#navbar a:hover span {
  color: transparent;
}
 

#navbar  #disco:hover {
  color:transparent;
 }

 #navbar #beans:hover{
  margin-left: 25px;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  background-image: url('/DiscordLogo.png');
  background-size: cover;
}
