/* CSS specific to the Home page. */
#home * {
  text-decoration: none;
}

#home {
  min-height: 5000px;
}

#home .container {
  margin: 0 auto;
  max-width: 1300px;
}

#home .grid {
  display: grid;
  grid-template-columns: 3fr 1fr;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

#home .button {
  background-color: #00a977;
  /* background-color: var(--teal); */
  color: white;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  padding: 10px 30px;
  text-align: center;
  font-weight: bold;
}

/* JUMBOTRON CSS */

#home .jumbotron {
  background-image: url(/codBackground2.jpg);
  background-size: cover;
  background-attachment: unfixed;
  box-shadow: inset 0 0 0 9999em rgb(0, 0, 0, 0.5);
  text-align: center;
  background-position: center;
}

#home .jumbotron-text h1 {
  color: white;
  font-size: 60px;
  padding: 50px;
  font-family: sans-serif, Courier, monospace;
}

#home .jumbotron-text p {
  color: white;
  font-size: 30px;
  font-family: 'Courier New', Courier, monospace;
  padding-bottom: 50px;
}

/* SHOWCASE CSS */

#home .showcase {
  padding: 20px 0;
}

#home .showcase::before, #home .showcase::after {
  content: '';
  position: absolute;
  height: 70px;
  bottom: -70px;
  right: 0;
  left: 0;
  background-color: #00a977;
  transform: skewY(-2deg);
  z-index: -1;
}

#home .showcase h1 {
  color: white;
  padding: 50px 0;
}

#home .showcase p {
  color: white;
  padding-bottom: 50px;
}

#home .left {
  padding: 50px;
}

#home #intro-vid {
  border-radius: 10px;
  /* box-shadow: 0px 0px 10px #666666; */
}

/* INFO CSS */

#home .info {
  background-color: #00a977;
  padding: 20px 0;
  text-align: center;
}

#home .info-cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 20px 0;
}

/* #home .info div {
  padding: 10px;
}

#home .info-wrapper {
  display: grid;
  grid-template-areas: 
  'first second fourth'
  'third third fourth';
  grid-template-columns: 1fr 1fr 2fr;
  gap: 10px;
  align-items: center;
}

#home .info-wrapper div:not(.fourth) {
  border-radius: 10px;
  background-color: var(--dark-blue);
  color: white;
}

#home .info-wrapper div h3 {
  text-align: center;
  border-bottom: white 2px solid;
  margin-bottom: 5px;
  padding-bottom: 5px;
}

#home .info-wrapper div.fourth h3 {
  border-bottom: black 2px solid;
}

#home .first {
  grid-area: first;
}

#home .second {
  grid-area: second;
}

#home .third {
  grid-area: third;
}

#home .fourth {
  grid-area: fourth;
  text-align: center;
  color: black;
} */