/* CSS specific to the Home page. */

#home {
  .showcase {
    max-width: 1300px;
    margin: 0 auto;
    padding: 0px 10px;
    text-align: center;

    .showcase-text {
      margin: 30px;

      p {
        color: var(--text-color-2);
        margin: 0 30px 30px 30px;
      }
  
      .button {
        background-color: #00a977;
        color: white;
        cursor: pointer;
        border: none;
        border-radius: 5px;
        padding: 10px 30px;
        text-align: center;
        text-decoration: none;
        font-weight: bold;
        transition: all .2s ease-out;
        &:hover { background-color: var(--dark-teal); }
      }

      .wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        color: white;
        text-align: left;
  
        .dynamic-txts {
          margin-left: 15px;
          height: 90px;
          line-height: 90px;
          overflow: hidden;

          li {
            list-style: none;
            color: #00a977;
            font-size: 2.125rem;
            font-weight: 500;
            position: relative;
            top: 0;
            animation: slide 12s steps(4) infinite;
    
            span {
              position: relative;
              margin: 5px 0;
              line-height: 90px;
            }
    
            span::after {
              content: "";
              position: absolute;
              left: 0;
              top: 0;
              height: 100%;
              width: 100%;
              background: var(--main-bg-color);
              border-left: 2px solid #FC6D6D;
              animation: typing 3s steps(10) infinite;
            }
          }
        }
      }
    }

    #intro-vid {
      border-radius: 10px;
      width: 100%;
      max-width: 560px;
      height: 315px;
      margin: 0 auto;
    }

    @keyframes slide {
      100% { top: -360px; }
    }

    @keyframes typing {
      40%, 60% { left: 100%; }
      100% { left: 0; }
    }
  }

  // Info/About section
  .info {
    margin-top: 30px;
    padding: 30px;
    text-align: center;
    color: var(--text-color-3);
    fill: var(--text-color-3);
    background-color: #1e2627;
    // background-image: url("https://source.unsplash.com/1000x1000?code");
    // background-size: cover;
    // background-position: fixed;

    h2 { font-size: 1.8rem; color: var(--text-color-1); }
    p { margin: 15px 0; color: var(--text-color-2); }

    .info-stats {
      display: flex;
      align-items: center;
      justify-content: space-around;
      flex-wrap: wrap;
      padding: 30px 0;

      svg { height: 60px; }
      h3 { font-size: 1.6rem; }
    }
  }

  // Image gallery
  .gallery {
    padding: 60px 30px;
    text-align: center;
    color: white;
    // background-color: #08657B;
    
    h2 { font-size: 1.8rem; color: var(--text-color-1); }
    p { margin: 20px; color: var(--text-color-2); }

    .img-container{
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      // grid-template-rows: repeat(2, 15vw);
      
      img {
        padding:10px ;
        width: 100%;
        height: 100%;
        object-fit: cover;
        cursor: pointer;
      }

      .big-image {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 100px;
        background-color: rgba(0, 0, 0, 0.7);
        z-index: 9999;
        animation: image-fade-in 300ms ease-in-out;


        @keyframes image-fade-in {
          0% { opacity: 0; }
          100% { opacity: 1; }
        }
      }
    }
    
  }

  // Languages section
  .languages {
    margin: 0 auto;
    padding: 40px 15px;
    text-align: center;
    color: white;
    background-color: var(--dark-blue);
    background-image: url(/coding.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    box-shadow: inset 0 0 0 9999em #152434dd;

    h2 { padding: 20px; font-size: 1.8rem; }

    .lang-container {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      padding: 15px;

      .card {
        margin: 18px 10px 40px;
        padding: 20px;
        text-align: center;
        color: #333;
        background-color: white;
        border-radius: 10px;
        transition: transform 0.2s ease-in;
        &:hover { transform: translateY(-15px); }

        h4 {
          margin-bottom: 10px;
          font-size: 1.25rem;
        }
      }
    }
  }

  // FAQ section
  .faq {
    margin: 0 auto;
    padding: 50px 10px;
    background-color: var(--main-bg-color);

    h2 {
      margin: 30px 10px;
      text-align: center;
      font-size: 1.8rem;
      color: var(--text-color-1);
    }

    span { font-size: 25px; }

    .question {
      padding: 10px 10px;
      border: 2px solid var(--dark-teal);
      cursor: pointer;
      border-radius: 30px;
      display: flex;
      margin: 5px 20px 5px 10px;
      align-items: center;
      transition-duration: 0.2s;
      font-size: 1.25rem;
      font-weight: bold;
      color: white;
      transition: all .3s ease-out;
      padding: 20px;

      &.active { background-color: var(--dark-teal); }
    }

    .answer {
      padding: 15px 15px;
      border-left: 2px solid var(--dark-teal);
      margin-left: 25px;
      margin-right: 15px;
      font-size: 0.875rem;
      color: white;
      text-align: justify;
      overflow: hidden;
      transition: all .3s ease-out;
    }
  }

  // Mobile view queries
  @media(max-width: 500px) {
    .showcase { margin-top: -30px; }
    .showcase .wrapper { font-size: 0.85rem; }
    .showcase .dynamic-txts li { font-size: 1.875rem; }
    .info-stats div { margin: 20px 30px; }
  }
}