/* CSS specific to the Home page. */

#home .grid {
  display: grid;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

#home .button {
  /* background-color: #009ea9; */
  background-color: #00a977;
  color: white;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  padding: 10px 30px;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
}

/* SHOWCASE CSS */

#home .showcase {
  max-width: 1300px;
  margin: 0 auto;
  padding: 20px 0;
}

#home .showcase.grid {
  grid-template-columns: 3fr 1fr;
}

#home .showcase h1 {
  color: white;
  padding: 50px 0;
}

#home .showcase p {
  color: white;
  padding-bottom: 50px;
}

#home .showcase-text {
  padding: 50px;
}

#home #intro-vid {
  border-radius: 10px;
}

/* INFO CSS */

#home .info {
  /* background-color: #ffea00; */
  background-color: #008593;
  padding: 30px 0;
  text-align: center;
}

#home .info .info-text {
  max-width: 1300px;
  margin: 0 auto;
  padding: 20px;
}

#home .info h2 {
  padding: 20px;
}

#home .info-stats {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 30px 0;
}

#home .info-stats img {
  height: 60px;
}

#home .info-stats h3 {
  font-size: 1.6rem;
}

/* Languages CSS */

#home .languages {
  background-color: var(--dark-blue);
  color: white;
  text-align: center;
  margin: 0 auto;
  padding: 40px 0;
}

#home .languages h2 {
  padding: 20px;
  font-size: 30px;
}

#home .lang-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 15px;
}

#home .lang-container .card {
  background-color: white;
  color: #333;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  margin: 18px 10px 40px;
  transition: transform 0.2s ease-in;
}

#home .lang-container .card:hover {
  transform: translateY(-15px);
}

#home .lang-container .card img {
  height: 80px;
}

#home .lang-container .card h4 {
  font-size: 20px;
  margin-bottom: 10px;
}