#login {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80vh;;

  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 300px;
    padding: 5px 50px;
    color: white;
    background-color: var(--bg-color-2);
    border: 1px solid var(--border-color-2);
    border-radius: 10px;

    input {
      border: none;
    }

    button {
      cursor: pointer;
    }
  }
}