/* CSS specific to the people/(Person) pages */

#people {
  display: flex;
  justify-content: center;
  gap: 50px;
  min-width: 500px;
  max-width: 800px;
  margin: 100px auto;
  padding: 30px;
  background-color: var(--bg-color-1);
  border: 1px solid var(--border-color-1);
}

#people #profile-image {
  width: 120px;
  height: 120px;
  border-radius: 50%;
}

#people #right {
  display: flex;
  flex-direction: column;
}

#people h2 {
  margin-bottom: 10px;
  font-size: 30px;
  color: var(--text-color-1);
}

#people p {
  margin-bottom: 20px;
  font-size: 16px;
  color: var(--text-color-2);
}

#people .social-item {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 3px;
}

#people .social-item img {
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

#people .social-item a {
  text-decoration: none;
  font-size: 16px;
  color: rgb(127, 127, 255);
}

#people .social-item a:hover { text-decoration: underline; }