/* CSS specific to the Projects page. */


.border {
  border: 0.1em solid #000000;
  border-radius: 0.3em;
}

#project-container {
  width: 100%;
  height: 100vh;
  padding: 10px 0;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  box-sizing: border-box;
}

.project {
  width: 70%;
  height: 22em;
  left: 0;
  margin: 0 1em;
  /*
  margin
  padding
  */
  display: flex;
  flex-direction: row;
  justify-content: none;
  flex-wrap: wrap;
}



.project-section {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: none;
  flex-basis: 50%;
}

.project-element {
  display: flex;
  height: 50%;
  width: 50%;
  align-items: center;
}

.project-element a {
  font-size: 3em;
  margin: 0 1em;
}

.contributors {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: right;
  padding: 0 1em;
}

.project-contributors img {
  border-radius: 6em;
  height: 3em;
  width: 3em;
  top: 0;
  left: 0;
}

.project-logo {
  width: 100%;
  height: 90%;
  margin: 0 1em;
}

.project-element p {
  margin: 0 1em;
  font-size: 1.5em;
}


@media screen and (max-width: 768px){
  .project-element a {
    font-size: 3em;
    margin: 0 0.5em;
  }
  .project {
    width: 90%;
    height: 17em;
    margin: 0 2em;
    
  }
  .project-element p {
    margin: 0 0.5em;
    font-size: 1.25em;
  }
}