/* CSS specific to the Projects page. */

#projects #project-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  margin: 30px 60px;
}
#projects .jumbotron {
  background-image: url(/almightycandle.png);
  background-size: cover;
  height: 100px;
  background-attachment: fixed;
  box-shadow: inset 0 0 0 9999em rgb(0, 0, 0, 0.5);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background-position: center;
}
#projects .jumbotron-text h1 {
  color: white;
  font-size: 60px;
  text-align: center;
  font-family: sans-serif, Courier, monospace;
  padding-bottom: 50px;
}
#projects .project {
  display: flex;
  justify-content: space-between;
  gap: 80px;
  max-width: 900px;
  padding: 10px;
  background-color: var(--bg-color-1);
  border: 1px solid var(--border-color-1);
}

#projects .left {
  display: flex;
  flex-direction: column;
  /* background: red; */
}

#projects .left a {
  margin-bottom: 10px;
  font-size: 30px;
  text-decoration: none;
  color: rgb(127, 127, 255);
}

#projects .left a:hover { text-decoration: underline; }

#projects .left p {
  margin-bottom: 20px;
  font-size: 17px;
  color: var(--text-color-2);
}

#projects .contributors {
  display: flex;
  margin-bottom: 20px;
  font-size: 16px;
  color: var(--text-color-2);
}

#projects .contributors span {
  margin-right: 10px;
}

#projects .contributors a {
  display: flex;
  width: 24px;
  height: 24px;
  margin-right: 2px;
}

#projects .contributors img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

#projects .languages {
  display: flex;
  gap: 5px;
}

#projects .bubble {
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 2px 5px;
  font-size: 16px;
  color: var(--text-color-2);
  background-color: var(--bg-color-2);
  border-radius: 8px;
}

#projects .bubble img {
  width: 15px;
  height: 15px;
}

#projects .right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#projects .right img {
  width: 100px;
  height: 100px;
}

#projects .right a {
  padding: 4px 8px;
  text-decoration: none;
  white-space: nowrap;
  color: var(--text-color-2);
  background-color: var(--bg-color-3);
  border: 1px solid var(--border-color-3);
}

#projects .right a:hover { background-color: var(--bg-color-4); }