/* CSS specific to the Meet the Team page. */

#team h1 {
  color: green;
}

#team .jumbotron {
  background-image: url(/codBackground2.jpg);
  background-size: cover;
  height: 100px;
  background-attachment: unfixed;
  box-shadow: inset 0 0 0 9999em rgb(0, 0, 0, 0.5);
  text-align: center;
  background-position: center;
}

#team .jumbotron-text h1 {
  color: white;
  font-size: 60px;
  font-family: sans-serif, Courier, monospace;
  padding-bottom: 50px;
}