// CSS specific to the Team page.

#team {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  min-height: 100vh;

  #people-container {
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 40px 0;

    .person {
      text-decoration: none;
      position: relative;
      width: 250px;
      height: calc(250px * (4/3));
      background-color: rgba(255, 255, 255, 0.02);
      margin: 20px;
      box-shadow: 0 15px 35px rgba(0,0,0,0.2);
      border-radius: 15px;
      display: flex;
      justify-content: center;
      align-items: center;
      animation: page-transition 300ms ease-in-out;

      .content {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        transition: 0.5s;

        .imgBox {
          position: relative;
          transition: 0.5s;
          z-index: 1;
          overflow: hidden;
          border-radius: 50%;
          width: 150px;
          height: 150px;
        }

        .imgBox::before {
          content: '';
          position: absolute;
          left: 50%;
          top: 50%;
          height: 100%;
          width: 100%;
          background: linear-gradient(transparent, #ff3c7b, #ff3c7b, #ff3c7b, transparent);
          transform: translate(-50%, -180%);
        }

        .imgBox::after {
          content: '';
          position: absolute;
          inset: 3px;
        }

        @keyframes animate {
          0% {transform: translate(-50%, -180%);}
          100% {transform: translate(-50%, 100%);}
        }
        
        img {
          position: relative;
          width: 100%;
          height: 100%;
          border-radius: 50%;
          border: 5px solid transparent;
        }

        h3 {
          color: #fff;
          text-transform: uppercase;
          letter-spacing: 2px;
          font-weight: 500;
          font-size: 1.1rem;
          text-align: center;
          margin: 20px 0 10px;
          line-height: 1.1em;
        }

        .role {
          font-size: 0.75rem;
          font-weight: 300;
          text-transform: initial;
        }
      }

      .info {
        position: absolute;
        bottom: 40px;
        text-decoration: none;
        color: #fff;
        margin: 0 10px;
        transform: translateY(40px);
        transition: 0.5s;
        opacity: 0;
      }
    }

    .person:hover {
      .content {
        transform: translateY(-20px);
      }

      .imgBox::before {
        animation: animate 1s ease-in-out;
      }

      .info {
        opacity: 1;
        transform: translateY(0px);
      }
    }
  }

  .loading-icon { width: 120px; height: 120px; }
}

@media(max-width: 500px) {
  #team #people-container .person {
    width: 140px;
    height: calc(140px * (4/3));

    .content {
      .imgBox {
        width: 75px;
        height: 75px;
      }
      
      h3 {
        font-size: 1rem;
      }
    }
  }
}