/* CSS specific to the Meet the Team page. */

#team h1 {
  color: green;
}

#team .jumbotron {
  background-image: url(/TheTeam.jpg);
  background-size: cover;
  height: 500px;
  background-attachment: fixed;
  box-shadow: inset 0 0 0 9999em rgb(0, 0, 0, 0.5);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background-position: center;
}

#team .jumbotron-text h1 {
  color: white;
  font-size: 60px;
  align-items: center;
  font-family: sans-serif, Courier, monospace;
  padding-bottom: 50px;
}

#team #people-container {
  /* background: red; */
  display: flex;
  /* justify-content: space-around; */
  flex-wrap: wrap;
  gap: 50px;
  margin: 130px 50px;
}

#team .person {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  align-items: center;
  /* gap: 5px; */
  min-width: 200px;
  max-width: 200px;
  padding: 10px;
  border-radius: 10px;
}

#team .person:hover {
  background-color: var(--bg-color-3);
}

#team .person img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

#team .person h3 {
  font-weight: normal;
  font-size: 20px;
  color: var(--text-color-1);
}

#team .person .role {
  text-align: center;
  font-size: 16px;
  margin: 8px 0;
  padding: .1em .5em;
  background-color: var(--bg-color-3);
  border: 1px solid var(--border-color-3);
  border-radius: .5em;
}

#team .person .role-Leadership { color: pink; }
#team .person .role-Member { color: aqua; }

#team .person .info {
  font-size: 14px;
  color: rgb(127, 127, 255);
}